src/Workflows/Test-Postman-6475B300-64A1-ED11-AAD1-000D3A17A337.json
{
  "properties": {
    "connectionReferences": {
      "shared_postmanip": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fa_sharedpostmanip_9e557"
        },
        "api": {
          "name": "shared_postmanip"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "fa_Office365Outlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2023-01-02T23:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "b1d6086f-6850-48a2-bfe0-888f44ca426c"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Scope_-_Try": {
          "actions": {
            "Get_authenticated_user": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e83639be-1508-4f43-8c1f-06a7615d6323"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_postmanip",
                  "operationId": "GetAuthenticatedUser",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_postmanip"
                },
                "parameters": {},
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_all_workspaces": {
              "runAfter": {
                "Get_authenticated_user": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a93df65a-c316-4ade-b2e1-4e34fda22dc5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_postmanip",
                  "operationId": "ListWorkspaces",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_postmanip"
                },
                "parameters": {},
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_variable_-_workspaceId": {
              "runAfter": {
                "List_all_workspaces": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bcc266c3-88a9-458d-84de-943aedf57bd8"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "workspaceId",
                "value": "@{first(outputs('List_all_workspaces')?['body/workspaces'])['id']}"
              }
            },
            "List_all_environments": {
              "runAfter": {
                "Set_variable_-_workspaceId": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8b888d43-63a8-4acd-a724-813b3f2966c6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_postmanip",
                  "operationId": "ListEnvironments",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_postmanip"
                },
                "parameters": {
                  "workspace": "@variables('workspaceId')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "List_all_collections": {
              "runAfter": {
                "List_all_environments": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "19b67bd0-10ba-4789-8d94-555c2126efaa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_postmanip",
                  "operationId": "ListCollections",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_postmanip"
                },
                "parameters": {
                  "workspace": "@variables('workspaceId')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_workspace": {
              "runAfter": {
                "List_all_collections": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4f94283c-9f93-448b-94e0-36589375985d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_postmanip",
                  "operationId": "GetWorkspace",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_postmanip"
                },
                "parameters": {
                  "workspaceId": "@variables('workspaceId')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_environment": {
              "runAfter": {
                "Get_workspace": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e0d22fa5-3a20-4bfa-82fc-e7cc289d08fd"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_postmanip",
                  "operationId": "GetEnvironment",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_postmanip"
                },
                "parameters": {
                  "environmentId": "@first(outputs('List_all_environments')?['body/environments'])['id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_collection": {
              "runAfter": {
                "Get_environment": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "14e0edfe-9379-4521-ada2-026c7941cee7"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_postmanip",
                  "operationId": "GetCollection",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_postmanip"
                },
                "parameters": {
                  "collectionId": "@first(outputs('List_all_collections')?['body/collections'])['id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_workspaceId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad5a6821-2fd3-4828-8579-34790b7915a5"
          },
          "type": "Scope"
        },
        "Scope_-_Catch": {
          "actions": {
            "Send_an_email_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8cc917c2-4be7-4f52-aea9-ebccc0a1c319"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "test",
                  "emailMessage/Subject": "[Independent Connector] Issue with a custom connector",
                  "emailMessage/Body": "<p>Hey,<br>\n<br>\nThe scheduled daily test has been either failed or skipped.<br>\nPlease check the flow run history for more details.<br>\n<br>\n- &nbsp;Flow: @{workflow()['tags']['flowDisplayName']}<br>\n&nbsp;- Workflow: @{workflow().name}<br>\n&nbsp;- Time: @{utcNow('yyyy-MM-dd HH:mm:ss')}<br>\n&nbsp;- &lt;a href=https://flow.microsoft.com/manage/environments/@{workflow()['tags']['environmentName']}/flows/@{workflow()['name']}/details&gt;Open flow @{workflow()['tags']['flowDisplayName']}&lt;/a&gt;<br>\n<br>\nCheers,</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Scope_-_Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "f5a52bab-1e5d-428c-8db4-e4d385f1bf10"
          },
          "type": "Scope"
        },
        "Initialize_variable_-_workspaceId": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6c94d7a0-5a59-4207-886b-8007da5051c4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "workspaceId",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}